<section class="p-2 space-y-3">
    <h2 class="uppercase font-semibold text-xl">categorie principali</h2>
    <div class="flex space-x-3">
        <ng-container *ngFor="let category of categories$ | async">
            <button (click)="openSubCategories(category)"
                class="uppercase text-yellow-500 font-semibold p-2 rounded-md bg-white">{{category.name}}</button>
        </ng-container>
    </div>

    <div class="flex flex-col space-y-3">
        <ng-container *ngFor="let subCategory of subCategories$ | async">
            <button (click)="openProducts(subCategory.id)"
                class="uppercase text-black font-semibold text-left">{{subCategory.name}}</button>
        </ng-container>
    </div>

    <ng-container *ngIf="products$ | async as products">
        <div class="flex flex-col space-y-3">
            <div class="flex space-x-3">
                <h2 class="uppercase font-semibold text-xl">piatti</h2>
                <button (click)="addProduct()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </button>
            </div>
            <ng-container *ngFor="let product of products">
                <button (click)="productOption(product.id)" class="text-left uppercase text-yellow-500 font-semibold">{{product.name}}</button>
            </ng-container>
        </div>
    </ng-container>
</section>