<footer class="bg-black text-white">
    <div class="px-3 py-6 space-y-6">
        <h2 class="capitalize text-xl md:text-3xl text-center font-bold">seguici sui social</h2>
        <div class="flex space-x-6 justify-center items-center">
            <a href="https://www.facebook.com/profile.php?id=100087594757999" target="_blank">
                <img src="assets/icons/facebook.svg">
            </a>
            <a href="https://www.instagram.com/ristoranteclassicosalernitano/" target="_blank">
                <img src="assets/icons/instagram.svg">
            </a>
            <a href="https://api.whatsapp.com/send/?phone=393487065708&text&type=phone_number&app_absent=0" target="_blank">
                <img src="assets/icons/whatsapp.svg">
            </a>
        </div>
    </div>
</footer>