<ul class="bg-white">
    <ng-container *ngFor="let p of products$ | async; let last = last">
        <li class="p-2 flex flex-col" [ngClass]="{'border-b': !last}">
            <div class="flex justify-between">
                <h2 class="text-black">{{p.name}}</h2>
                <span class="text-green-500">{{p.price | currency:"EUR"}}</span>
            </div>
            <p class="mt-2 lowercase text-sm" *ngIf="p.description">
                {{p.description}}
            </p>
        </li>
    </ng-container>
    <div class="w-full flex justify-center my-2">
        <button (click)="close()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
              </svg>                  
        </button>
    </div>
</ul>