<header #header class="bg-black shadow-shadow sticky top-0 duration-300 z-50" [ngClass]="{'-translate-y-full': isScrollBottom}">
    <div class="px-3">
        <div class="flex items-center justify-between py-4 md:justify-start md:space-x-10">
            <a routerLink="/">
                <img class="h-20 w-auto sm:h-24" src="assets/svg/logo.svg" alt="Logo del ristorante" />
            </a>
            <nav class="md:space-x-10 space-x-4 flex items-center justify-center w-full text-xl md:text-3xl uppercase">
                <a routerLink="home" routerLinkActive="text-yellow-500" class="font-semibold  text-white duration-300 hover:text-yellow-500">Home</a>
                <a routerLink="menu" routerLinkActive="text-yellow-500" class="font-semibold  text-white duration-300 hover:text-yellow-500">Menu</a>
                <a routerLink="gallery" routerLinkActive="text-yellow-500" class="font-semibold  text-white duration-300 hover:text-yellow-500">Galleria</a>
            </nav>
        </div>
    </div>
</header>